<table class="data" cellspacing="0" style="display: none" data-bind="visible: true">
    <thead>
        <tr>
            <!-- ko if: show_inherit_checkbox -->
                <th style="width: 50px;" class="data-grid-th" data-bind="text: inherit_label"></th>
            <!-- /ko -->
            <th style="width: 40%;" class="data-grid-th">&nbsp;</th>
            <th style="width: 30%;" class="data-grid-th" data-bind="i18n: 'Send to Slack?'"></th>
            <th style="width: 30%;" class="data-grid-th" data-bind="i18n: 'Highlight message?'"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: notificationsData">
    <tr>
        <!-- ko if: $parent.show_inherit_checkbox -->
            <td>
                <span style="display: inline-block">
                    <input type="checkbox" value="1" data-bind="attr: {name: buildInheritName('inherit')}, checked: inherit, switch: inherit" />
                    <input type="hidden" data-bind="attr: {name: buildInheritName('send_type')}, value: inherit" />
                    <input type="hidden" data-bind="attr: {name: buildInheritName('custom_channel')}, value: inherit" />
                    <input type="hidden" data-bind="attr: {name: buildInheritName('colorize')}, value: inherit" />
                    <input type="hidden" data-bind="attr: {name: buildInheritName('color')}, value: inherit" />
                </span>
            </td>
        <!-- /ko -->
        <td data-bind="text: name"></td>
        <td>
            <select data-bind="chosen: {width: '200px'}, value: send_type,  disable: inherit, attr: {name: buildName('send_type')}" >
                <option value="" data-bind="i18n: 'No'"></option>
                <option value="default" data-bind="i18n: 'Yes - default channel'"></option>
                <option value="custom" data-bind="i18n: 'Yes - custom channel'"></option>
            </select>
            <span data-bind="visible: send_type() == 'custom'" style="display: inline-block">
                <input type="text" class="" data-bind="value: custom_channel,  disable: inherit, attr: {name: buildName('custom_channel')}" />
            </span>
        </td>
        <td>
            <span style="display: inline-block">
                <input type="hidden" value="0" data-bind="attr: {name: buildName('colorize')}" />
                <input type="checkbox" value="1" data-bind="attr: {name: buildName('colorize')}, disable: inherit, checked: colorize, switch: colorize" />
            </span>
            <span data-bind="visible: colorize" style="display: inline-block">
                <input type="text" class="" data-bind="value: color, attr: {name: buildName('color')}, disable: inherit, color: true" />
            </span>
        </td>
    </tr>
    </tbody>
</table>