<table cellspacing="0" style="display: none" data-bind="visible: true">
    <tbody>
    <tr>
        <th style="width: 33.33%" class="data-grid-th" data-bind="i18n: 'Backend login fail : Immediate notification'">
        </th>
        <th style="width: 33.33%" class="data-grid-th" data-bind="if: immediate_send_type">
        </th>
        <th style="width: 33.33%" class="data-grid-th" data-bind="if: immediate_send_type">
            <span data-bind="i18n: 'Highlight message?'"></span>
        </th>
    </tr>
    <tr>
        <td>
            <select data-bind="chosen: {width: '200px'}, value: immediate_send_type, attr: {name: buildSecurityName('immediate_send_type')}" >
                <option value="" data-bind="i18n: 'No'"></option>
                <option value="default" data-bind="i18n: 'Yes - default channel'"></option>
                <option value="custom" data-bind="i18n: 'Yes - custom channel'"></option>
            </select>
               <span data-bind="visible: immediate_send_type() == 'custom'" style="display: inline-block">
                   <input type="text" class="" data-bind="value: immediate_custom_channel, attr: {name: buildSecurityName('immediate_custom_channel')}" />
               </span>
        </td>
        <td data-bind="if: immediate_send_type"></td>
        <td data-bind="if: immediate_send_type">
               <span style="display: inline-block">
                   <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('immediate_colorize')}" />
                   <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('immediate_colorize')}, checked: immediate_colorize, switch: immediate_colorize" />
               </span>
               <span data-bind="visible: immediate_colorize" style="display: inline-block">
                   <input type="text" class="" data-bind="value: immediate_color, attr: {name: buildSecurityName('immediate_color')}, color: true" />
               </span>
        </td>
    </tr>
    <tr class="headings">
        <th style="width: 33.33%" class="data-grid-th" data-bind="i18n:'Backend login fail : Daily summary'">
        </th>
        <th style="width: 33.33%" class="data-grid-th" data-bind="if: report_send_type">
            <span data-bind="i18n: 'What time?'"></span>
        </th>
        <th style="width: 33.33%" class="data-grid-th" data-bind="if: report_send_type">
            <span data-bind="i18n: 'Highlight message?'"></span>
        </th>
    </tr>
    <tr>
        <td>
            <select data-bind="chosen: {width: '200px'}, value: report_send_type, attr: {name: buildSecurityName('report_send_type')}" >
                <option value="" data-bind="i18n: 'No'"></option>
                <option value="default" data-bind="i18n: 'Yes - default channel'"></option>
                <option value="custom" data-bind="i18n: 'Yes - custom channel'"></option>
            </select>
           <span data-bind="visible: report_send_type() == 'custom'" style="display: inline-block">
               <input type="text" class="" data-bind="value: report_custom_channel, attr: {name: buildSecurityName('report_custom_channel')}" />
           </span>
        </td>
        <td data-bind="if: report_send_type">
            <select data-bind="chosen: {width: '200px'}, value: hour, attr: {name: buildSecurityName('hour')}" >
                <option value="0">00:00</option>
                <option value="1">01:00</option>
                <option value="2">02:00</option>
                <option value="3">03:00</option>
                <option value="4">04:00</option>
                <option value="5">05:00</option>
                <option value="6">06:00</option>
                <option value="7">07:00</option>
                <option value="8">08:00</option>
                <option value="9">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
            </select>
        </td>
        <td data-bind="if: report_send_type">
           <span style="display: inline-block">
               <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('report_colorize')}" />
               <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('report_colorize')}, checked: report_colorize, switch: report_colorize" />
           </span>
           <span data-bind="visible: report_colorize" style="display: inline-block">
               <input type="text" class="" data-bind="value: report_color, attr: {name: buildSecurityName('report_color')}, color: true" />
           </span>
        </td>
    </tr>
    <tr class="headings" data-bind="visible: report_send_type">
        <th class="data-grid-th" data-bind="i18n: '# Fails (all IPs)'">
        </th>
        <th class="data-grid-th" data-bind="i18n: '# Fails (by IP)'">
        </th>
        <th class="data-grid-th" data-bind="i18n: '# Fails (by target)'">
        </th>
    </tr>
    <tr data-bind="visible: report_send_type">
        <td>
            <span style="display: inline-block">
                <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('total_fails')}" />
                <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('total_fails')}, checked: total_fails, switch: total_fails" />
            </span>
        </td>
        <td>
            <span style="display: inline-block">
                <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('count_ip_fails')}" />
                <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('count_ip_fails')}, checked: count_ip_fails, switch: count_ip_fails" />
            </span>
        </td>
        <td>
            <span style="display: inline-block">
                <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('count_target_fails')}" />
                <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('count_target_fails')}, checked: count_target_fails, switch: count_target_fails" />
            </span>
        </td>
    </tr>
    </tbody>
</table>