<table cellspacing="0" style="display: none" data-bind="visible: true">
    <tbody>
    <tr class="headings">
        <th style="width: 33.33%" class="data-grid-th" data-bind="i18n: 'Send to Slack?'"></th>
        <th style="width: 33.33%" class="data-grid-th" data-bind="if: stats_send_type">
            <span data-bind="i18n: 'What time?'"></span>
        </th>
        <th style="width: 33.33%" class="data-grid-th" data-bind="if: stats_send_type">
            <span data-bind="i18n: 'Highlight message?'"></span>
        </th>
    </tr>
    <tr>
        <td>
            <select
                data-bind="chosen: {width: '200px'}, value: stats_send_type, attr: {name: buildName('stats_send_type')}">
                <option value="" data-bind="i18n: 'No'"></option>
                <option value="default" data-bind="i18n: 'Yes - default channel'"></option>
                <option value="custom" data-bind="i18n: 'Yes - custom channel'"></option>
            </select>
                <span data-bind="visible: stats_send_type() == 'custom'" style="display: inline-block">
                    <input type="text" class=""
                           data-bind="value: stats_custom_channel, attr: {name: buildName('stats_custom_channel')}"/>
                </span>
        </td>
        <td data-bind="if: stats_send_type">
            <select data-bind="chosen: {width: '200px'}, value: hour, attr: {name: buildName('hour')}">
                <option value="0">00:00</option>
                <option value="1">01:00</option>
                <option value="2">02:00</option>
                <option value="3">03:00</option>
                <option value="4">04:00</option>
                <option value="5">05:00</option>
                <option value="6">06:00</option>
                <option value="7">07:00</option>
                <option value="8">08:00</option>
                <option value="9">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
            </select>
        </td>
        <td data-bind="if: stats_send_type">
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('stats_colorize')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('stats_colorize')}, checked: stats_colorize, switch: stats_colorize"/>
                </span>
                <span data-bind="visible: stats_colorize" style="display: inline-block">
                    <input type="text" class=""
                           data-bind="value: stats_color, attr: {name: buildName('stats_color')}, color: true"/>
                </span>
        </td>
    </tr>
    <tr data-bind="visible: stats_send_type">
        <th class="data-grid-th" data-bind="i18n: 'Daily Stats'">
        </th>
        <th class="data-grid-th" data-bind="i18n: 'Weekly Stats'">
        </th>
        <th class="data-grid-th">&nbsp;</th>
    </tr>
    <tr data-bind="visible: stats_send_type">
        <td>
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('daily_stats')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('daily_stats')}, checked: daily_stats, switch: daily_stats"/>
                </span>
        </td>
        <td>
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('weekly_stats')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('weekly_stats')}, checked: weekly_stats, switch: weekly_stats"/>
                </span>
                <span data-bind="visible: weekly_stats">
                    <select data-bind="chosen: {width: '200px'}, value: day, attr: {name: buildName('day')}">
                        <!-- ko foreach: weekdays -->
                            <option data-bind="attr: {value: value}, text: label"></option>
                        <!-- /ko -->
                    </select>
                </span>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr class="headings" data-bind="visible: stats_send_type() && (daily_stats() || weekly_stats())">
        <th class="data-grid-th" data-bind="i18n: 'Qty Orders'">
        </th>
        <th class="data-grid-th" data-bind="i18n: 'Total $ Revenue'">
        </th>
        <th class="data-grid-th" data-bind="i18n: 'Qty Products'">
        </th>
    </tr>
    <tr data-bind="visible:  stats_send_type() && (daily_stats() || weekly_stats())">
        <td>
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('qty_orders')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('qty_orders')}, checked: qty_orders, switch: qty_orders"/>
                </span>
        </td>
        <td>
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('total_revenue')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('total_revenue')}, checked: total_revenue, switch: total_revenue"/>
                </span>
        </td>
        <td>
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('qty_products')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('qty_products')}, checked: qty_products, switch: qty_products"/>
                </span>
        </td>
    </tr>
    <tr data-bind="visible: stats_send_type() && (daily_stats() || weekly_stats())">
        <th class="data-grid-th" data-bind="i18n: 'Avg. Products / Order'">
        </th>
        <th class="data-grid-th" data-bind="i18n: 'Avg. $ Revenue / Order'">
        </th>
        <th class="data-grid-th">
            &nbsp;
        </th>
    </tr>
    <tr data-bind="visible: stats_send_type() && (daily_stats() || weekly_stats())">
        <td>
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('avg_products_order')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('avg_products_order')}, checked: avg_products_order, switch: avg_products_order"/>
                </span>
        </td>
        <td>
                <span style="display: inline-block">
                    <input type="hidden" value="0" data-bind="attr: {name: buildName('avg_revenue_order')}"/>
                    <input type="checkbox" value="1"
                           data-bind="attr: {name: buildName('avg_revenue_order')}, checked: avg_revenue_order, switch: avg_revenue_order"/>
                </span>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>