@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
}

div.moogento-notice {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 30%, #cef3cc 84%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 30%, #cef3cc 84%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 30%, #cef3cc 84%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cef3cc', GradientType=1);
  /* IE6-9 */
  border-image: none;
  border: 4px solid #fff;
  border-left-width: 5px;
  border-radius: 7px 3px 3px 7px;
  margin: -2px 0 0;
  padding: 7px 8px;
  height: 114px;
}

.floatingcows {
  min-height: 109px;
  padding: 4px 0 0 10px;
  background-repeat: no-repeat;
}

.floatingsheep {
  background-repeat: no-repeat;
  background-size: auto 127px;
  display: block;
  float: left;
  height: 127px;
  left: -26px;
  margin: 0;
  position: relative;
  top: -5px;
  width: 152px;
}

#wikilinks {
  display: block;
  margin: -46px -6px 0 -26px;
  float: left;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.7em;

  li {
    display: inline-block;
    margin: 0 10px 0 0;
  }

  a {
    background: #777 none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 1px #111;
    color: #eee;
    float: left;
    font-family: "OpenSansReg", "OpenSans", helvetica, sans-serif;
    font-size: 0.85em;
    font-weight: 100;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 4px 7px 2px 19px;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 1px 1px 1px #666;
    min-width: 10.3em;

    span {
      font-size: 1em;
      margin: 0px 2px 0 -3px;

      @media screen and (-webkit-min-device-pixel-ratio:0) {
        font-size: 1em;
        margin: 0px 5px 0 -10px;
      }
    }

    &.store img {
      margin: 6px 8px 0 -11px;
      float: left;
    }

    &:hover {
      box-shadow: none;
      background: darkgreen;
      color: #FFF;
    }
  }
}

.ext_info {
  display: block;
  float: right;
  font-family: "OpenSansReg", "OpenSans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 10px 0 0 !important;
  position: relative;
  width: auto;

  b {
    background: none;
    border-radius: 8px;
    float: right;
    font-weight: 100;
    margin: 0px 0 0 7px;
    padding: 0 5px 1px 7px;
  }

  a:hover {
    background-color: #90EE90;
  }

  a:hover b {
    background: none;
  }

  a:hover,
  a:hover b {
    text-decoration: none;
    border-width: 0;
  }
}

#mooinfo {
  color: #333;
  padding: 4px 0;

  h4 {
    margin: -8px 0 7px -28px;
    text-shadow: 3px 2px 0px #FFFFFF;
    float: left;
    font-family: "Poppins", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 38px;
    letter-spacing: 0;
    text-shadow: none;
    font-weight: 100;

    & a {
      font-family: "Poppins", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
  }

  li {
    border: 0;
    border-radius: 2px;
    clear: both;
    color: #111;
    float: left;
    font-size: 14px;
    line-height: 15px;
    margin: 4px 3px 6px 0;
    min-width: 25em;
    padding: 8px 6px 7px 11px;
    list-style: none;
    text-shadow: none;
    font-weight: 300;

    &.alert {
      background-color: #ffd5a8;

      & a {
        font-family: "opensans", sans-serif !important;

        &:hover {
          box-shadow: none;
        }
      }
    }

    &.alert.lic {
      background-color: #ffd5a8;
      border: 5px dashed red;
      padding: 32px 50px 27px;
      font-weight: 600;
      font-size: 16px;
      font-family: opensans, sans-serif;
      text-shadow: 1px 1px 2px #efefefb8;

      & a {
        background: green;
        border: 0.5px solid #ffffffdb;
        border-radius: 3px;
        color: white;
        float: right;
        margin: -7px -16px -2px 26px;
        padding: 7px 22px 7px;
        text-shadow: none;
        box-shadow: 1px 1px 3px #808080;
        font-family: "opensans", sans-serif;

        &:hover {
          box-shadow: none;
          border: 0.5px solid green;
        }
      }
    }

    &.tick {
      background: none;
      color: #333;
    }
  }

  a {
    border-width: 0;
    color: #444141;
    font-weight: 200;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 0;
    font-family: "OpenSansLight", "OpenSansReg", sans-serif;
  }
}

.switch-button-background {
  float: left;
  position: relative;
  background: #ccc;
  border: 1px solid #aaa;
  margin: 1px 1px;
  top: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;

  &.checked {
    background: #339966;
  }
}

.switch-button-button {
  position: absolute;
  left: -1px;
  top: -1px;
  background: #FAFAFA;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .config .info {
  background: #add8e666;
  padding: 10px 20px;
  margin: -6px 0 17px;
  width: auto;
  float: right;
  border-radius: 2px;
}

.additional-field {
  float: left;
  margin-right: 15px;
}

.helper-info i,
.fa-times,
i.helper_info_left,
i.helper_info_left_white,
i.helper_info_left_blue_white,
i.helper_info_left_black,
#profiteasy_moocosts button.add i {
  background-image: url("../img/moo_info_blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 18px auto;
  height: 18px;
  width: 18px;
  cursor: help;
  position: absolute;
  font-style: normal;
  top: -1px;
  color: #FFF;
}

.helper-info i.white,
i.helper_info_left_white {
  background-image: url("../img/moo_info_white.png");
}

.helper-info i.black,
i.helper_info_left_black {
  background-image: url("../img/moo_info_black.png");
}

.helper-info i.blue_white,
i.helper_info_left_blue_white {
  background-image: url("../img/moo_info_blue_white.png");
}

#profiteasy_moocosts button.add,
#custom_store_image button.add,
#shipeasy_rules button.add,
#row_thankseasy_preview button#btn_preview,
#row_thankseasy_preview button#btn_mobile_preview {
  margin: 1px 0 2px;
  box-shadow: 1px 1px 1px #ddd;
  border-radius: 2px;
  background: #afe2a3a1;
}
#row_thankseasy_preview button#btn_preview {
    margin-right: 50px;
}

#row_thankseasy_preview button#btn_mobile_preview {
    background: #fff;
    border: 1px dashed cornflowerblue;
    color: #305495;
}

#custom_store_image button.add {
  margin: 6px 0 2px;
  padding: 2px 10px 2px;
}

#profiteasy_moocosts #costtable button.add {
  float: left;
  clear: both;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #eee;
  background-color: #e3e3e3;
  font-size: 70%;
  font-weight: 400;
  padding: 2px 7px 2px 11px;
}

#profiteasy_moocosts button.add i {
  background-image: url("../img/moo_justplus.png");
  cursor: pointer;
  background-size: 13px;
}

i.helper_info_left_blue_white,
i.helper_info_left_white,
i.helper_info_left_black {
  cursor: default;
}

i.helper_info_left,
i.helper_info_left_blue_white,
i.helper_info_left_white,
i.helper_info_left_black,
#profiteasy_moocosts button.add i {
  right: 8px;
  padding: 9px;
  top: 8px;
  position: relative;
}

#profiteasy_moocosts button.add i {
  top: 9px;
}

.fa-times {
  background: url("../img/trashcan.svg") no-repeat center;
  background-size: 15px;
  cursor: pointer;
  position: relative;
  padding: 8px;
  right: -8px;
  top: 3px;
}

.helper-info {
  display: inline-block;
  height: 12px;
  position: relative;
  width: 12px;
}

.helper-info .content {
  display: none;
  position: absolute;
  width: 400px;
  border: 1px solid #aaa;
  background: #add8e6d4;
  box-shadow: 1px 1px 2px #bbb;
  white-space: normal;
  font-weight: 300;
  color: #111;
  padding: 7px 12px;
  border-radius: 2px;
  max-width: 17em;
  left: -17em;
  margin-top: 10px;
}

.helper-info:hover .content {
  display: block;
  z-index: 1000;
  top: 12px;
}

.fa-times:hover {
  background: url(../img/trashcan.svg) no-repeat center;
  background-size: 15px;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  text-decoration: none;
}

#profiteasy_moocosts button.add:hover,
#custom_store_image button.add:hover,
#shipeasy_rules button.add:hover,
#row_thankseasy_preview button#btn_preview:hover,
#row_thankseasy_preview button#btn_mobile_preview:hover {
  margin: 2px 0 1px;
  box-shadow: none;
  background: #a2d296a1;
}
#row_thankseasy_preview button#btn_preview:hover,
#row_thankseasy_preview button#btn_mobile_preview:hover {
    margin: 3px 50px 0 0;
}

#row_thankseasy_preview button#btn_mobile_preview:hover {
    background: #d4e1fa;
}

#custom_store_image button.add:hover {
  margin: 7px 0 1px;
}

#profiteasy_moocosts #costtable button.add:hover {
  box-shadow: none;
  background-color: #DBDBDB;
  /* Reset inner table buttons to grey */
}

#costs_button {
  box-shadow: 1px 1px 1px #ddd;
  border-radius: 2px;
  background-image: url(../img/moo_alert_black.png);
  background-color: #eabaa5a1;
  background-repeat: no-repeat;
  padding-left: 41px;
  background-size: auto 60%;
  background-position: 12px 5px;
}

#costs_button:hover {
  box-shadow: none;
  background-color: #eabaa5d6;
}