<?php
$element = $block->getElement();
$htmlId = $element->getHtmlId();
$collapseState = $block->isCollapseState();
?>
<div class="section-config" xmlns="http://www.w3.org/1999/html">
    <div class="entry-edit-head admin__collapsible-block">
        <a onclick="Fieldset.toggleCollapse('<?php /* @escapeNotVerified */ echo $htmlId ?>',
                '<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/state/')?>'); return false;"
           href="#<?php /* @escapeNotVerified */ echo $htmlId ?>-link"
           id="<?php /* @escapeNotVerified */ echo $htmlId ?>-head" class="">
            <?php /* @escapeNotVerified */ echo $element->getLegend() ?>
        </a>
    </div>
    <input type="hidden" value="<?php /* @escapeNotVerified */ echo $collapseState ?>"
           name="config_state[<?php /* @escapeNotVerified */ echo $htmlId ?>]"
           id="<?php /* @escapeNotVerified */ echo $htmlId ?>-state">
    <fieldset id="<?php /* @escapeNotVerified */ echo $htmlId ?>"
              class="config admin__collapsible-block data-grid"
              data-bind="scope:'<?php /* @escapeNotVerified */ echo $htmlId ?>'">
        <br/>
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "#<?php /* @escapeNotVerified */ echo $htmlId ?>": {
                "Magento_Ui/js/core/app": {
                   "components": {
                        "<?php /* @escapeNotVerified */ echo $htmlId ?>": {
                            "component": "Moogento_SlackCommerce/js/security",
                            "config": <?php /* @escapeNotVerified */ echo $block->getValues() ?>
                        }
                    }
                }
            }
        }
        </script>
    </fieldset>
    <?php /* @escapeNotVerified */ echo $block->getExtraJs() ?>
    <style scoped="">
        #moogento_slackcommerce_security td {
            padding: 1.5rem;
        }
    </style>
</div>